app_source_repo   = "YOUR_GITHUB_USERNAME/do-ai-starterkit"
do_token          = "dop_v1_your_token_here"
spaces_access_id  = "your_spaces_access_key"
spaces_secret_key = "your_spaces_secret_key"

genai_endpoint    = "https://your-agent-id.agents.do-ai.run"
genai_api_key     = "your_agent_api_key"
